<h3><%= I18n.t 'txt.views_users.mail_settings', :default => 'Settings' %></h3>
<p><%= f.check_box :signed_newsletter %>&#160;<label for="signed_newsletter"><%= I18n.t 'txt.views_users.sign_newsletter', :default => 'I want the newsletter' %></label></p>
<p><%= f.check_box :signed_notifications %>&#160;<label for="signed_notifications"><%= I18n.t 'txt.views_users.sign_notifications', :default => 'I want forum notifications' %></label></p>
