<%#= error_messages_for @user%>
<% if @user && @user.errors.size > 0 -%>
	<div class="error-feedback">
		<%= I18n.t('txt.feedback_on_errors') %>
	</div>
<% end -%>
<% form_for :user, :url => users_path do |f| -%>
<p><label for="login"><%= I18n.t 'txt.login_name', :default => 'Login' %></label><br/>
<%= f.text_field :login %></p>
<%= show_error_message(@user,:login) %>
<p><label for="email"><%= I18n.t 'txt.email', :default => 'Email' %></label><br/>
<%= f.text_field :email %></p>
<%= show_error_message(@user,:email) %>
<p><label for="password"><%= I18n.t 'txt.password', :default => 'Password' %></label><br/>
<%= f.password_field :password %></p>
<%= show_error_message(@user,:password) %>
<p><label for="password_confirmation"><%= I18n.t 'txt.password_confirm', :default => 'Confirm Password' %></label><br/>
<%= f.password_field :password_confirmation %></p>
<%= show_error_message(@user,:password_confirmation) %>
<p><%= f.check_box :signed_newsletter, {:checked => true} %>&#160;<label for="signed_newsletter"><%= I18n.t 'txt.views_users.sign_newsletter', :default => 'I want the newsletter' %></label></p>
<p><%= f.check_box :signed_notifications, {:checked => true} %>&#160;<label for="signed_notifications"><%= I18n.t 'txt.views_users.sign_notifications', :default => 'I want forum notifications' %></label></p>
<%#= render :partial => 'captcha' # enable for brainbuster %>

<p style="padding:15px 0"><%= submit_tag I18n.t('txt.sign_up', :default => 'Sign up') %></p>

<% end -%>
