<%= render :partial => "layouts/head" %>
<%= render :partial => "gafa/header", :locals => {:selected => "forum"} %>

<!-- <div id="container">
<div id="content"> -->
<!-- Content Wrap -->
<div id="content-overflow">
	<div class="breadcrumbs"><a href="http://www.gute-arbeit-alleinerziehende.de">Home</a> &gt; Forum</div>
	<div id="content-wrapper" class="container_16">
		<div id="gafa-content" class="grid_16">
			<div id="messages">
				<%= content_tag 'p', h(flash[:notice]), :class => 'notice' if flash[:notice] %>
				<%= content_tag 'p', h(flash[:error]), :class => 'notice error' if flash[:error] %>
			</div>
		<div id="forum-left" class="grid_11 alpha content-box large" style="padding:10px 30px">
			<%= yield %>
		</div>
		<div id="right" class="grid_4 omega">
		  <%= yield :right %>
		</div>
		</div>
	</div>
	<div class="sep">&#160;</div>
</div>
<!-- Footer Wrap -->
<div id="footer-overflow">
	<div id="gafa-footer" class="container_16">
		<div class="grid_16">
		<ul>
			<li><a href="#">Impressum</a></li>
			<li><a href="#">Kontakt</a></li>
		</ul>
		</div>
	</div>
</div>
<div class="clear"></div>
<div id="footer-ending"></div>
</body>
</html>